@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-primary: #0059FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Funnel Display', sans-serif;
  --font-serif: 'Crimson Text', serif;
  --font-mono: var(--font-funnel);
  --color-blue-primary: var(--blue-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #FDFDFD;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-sans);
}
